body{
margin:0;
font-family:Arial;
background:#fff;
}

/* NAVBAR */
.navbar{
display:flex;
align-items:center;
justify-content:space-around;
padding:15px;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
position:sticky;
top:0;
background:white;
z-index:999;
}

.logo{
font-size:32px;
font-weight:bold;
color:#ff3f6c;
}

nav ul{
display:flex;
list-style:none;
gap:25px;
font-weight:bold;
}

.search input{
padding:10px;
width:300px;
border:1px solid #ddd;
}

.icons span{
margin-left:15px;
}

/* HERO */
.hero{
height:350px;
background:url('https://images.unsplash.com/photo-1521572163474-6864f9cf17ab') center/cover;
}

/* CATEGORY */
.categories{
display:flex;
gap:15px;
padding:20px;
overflow:auto;
}

.cat{
background:#f5f5f5;
padding:10px 20px;
border-radius:6px;
}

/* PRODUCTS */
.products{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
gap:20px;
padding:20px;
}

.card{
border:1px solid #eee;
padding:10px;
transition:0.3s;
}

.card:hover{
transform:scale(1.03);
box-shadow:0 4px 20px rgba(0,0,0,0.2);
}

.card img{
width:100%;
height:250px;
object-fit:cover;
}

.price{
color:#ff3f6c;
font-weight:bold;
}

.btn{
background:#ff3f6c;
color:white;
border:none;
padding:8px;
width:100%;
}
